.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 12px;
  background: #37306b;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 12px;
  background: #66347f;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 36px;
  background: #9e4784;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 60px;
  background: #d27685;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(5) {
  left: 84px;
  background: #f582a7;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
