.header {
  background-color: #444;
  z-index: 100;
}

.header__logo {
  height: 28px;
  left: 5%;
  top: 8%;
}

.header__user-name {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.header__logout-btn {
  font-size: 0.5rem;
  color: white;
  background-color: inherit;
  text-decoration: none;
  border: 1px solid white;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 700;
  transition: all 0.3s;
}

.header__logout-btn:hover {
  color: #222;
  background-color: white;
}

.nav__user-img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .header__user-name {
    font-size: 1.4rem;
  }

  .header__logout-btn {
    font-size: 0.8rem;
  }

  .nav__user-img {
    width: 36px;
    height: 36px;
  }
}

@media only screen and (min-width: 576px) {
  .header__el {
    font-size: 1.2rem;
  }

  .header__logo {
    height: 36px;
    left: 47%;
  }
}

.header__el,
.header__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.header__el:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem black;
}

.header__signup {
  border: 1px solid white;
}

.header__signup:hover {
  background-color: #f7f7f7;
  color: #222222;
}

.text-shadow {
  text-shadow: 2px 1.5px 6px rgba(171, 171, 171, 0.7);
}
