.card-overview {
  max-width: 380px;
  border-radius: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.card__header {
  position: relative;
}

.card__picture {
  position: relative;
  height: 180px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  border-radius: 20px 20px 0 0;
}

.card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__picture-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__details {
  color: #555555;
}

.card__details-tour-summary {
  font-size: 0.8rem;
}

.card__data {
  display: flex;
  font-size: 0.6rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__icon {
  height: 1.2rem;
  width: 1.2rem;
  fill: #55c57a;
}

.card-footer {
  color: #555555;
  background-color: #f7f7f7;
  border-top: 1px solid #f1f1f1;
  border-radius: 0 0 20px 20px !important;
}

.text-grey {
  color: #999;
}

.heading-tertiary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  width: 70%;
  z-index: 10;
}

.heading-tertiary span {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(47, 47, 47, 1) 0%,
    rgba(19, 22, 69, 1) 95%
  );
}

.btn {
  transition: 0.2s all;
  font-size: 0.7rem;
}

.btn:hover {
  color: white;
  transform: translateY(-3px);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

@media only screen and (min-width: 576px) {
  .card__picture {
    height: 250px;
  }

  .card__data,
  .card__details-tour-summary,
  .btn {
    font-size: inherit;
  }

  .heading-tertiary span {
    font-size: 1.33rem;
  }
}
