.login__logo-image {
  width: 60px;
  height: 35px;
}

.invalid {
  color: red;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
}

.card__login-form {
  background-color: #f6f8fa;
  width: 100%;
  max-width: 340px;
}

.card__create-new-acc {
  width: 100%;
  max-width: 340px;
}

.form-label__forgotpassword a {
  text-decoration: none;
  font-size: 0.8rem;
}

.login__btn-login {
  width: 100%;
  font-size: 0.9rem;
}

.alert-card {
  color: #dc3545;
  background-image: linear-gradient(#ffebe9, #ffebe9);
  border-color: #ea868f;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

.login__input-email,
.login__input-password {
  line-height: 0.5;
}

@media only screen and (min-width: 576px) {
  .login__logo-image {
    width: 85px;
    height: 50px;
  }
}
